/* container */
.bg-b {
  background-color: #000000;
}

/* nav */
.bg-g {
  background-color: #1fdf64;
}

.a,
a {
  text-decoration: none;
  /* style="text-decoration: none;" */
}

/* pro-pic */
/* nav-elements */

/* content */
.prog-lang-icon {
  font-size: 50px;
  color: #1fdf64;
}
/* 
  top title
  t-1
  t-2
  t-3
  p
 */

/* general */

.bolder {
  font-weight: bolder;
}
.font-family-1 {
  font-family: Arial, Helvetica, sans-serif;
}
.font-family-2 {
  font-family: "Saira Extra Condensed", sans-serif;
}
.font-family-3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-family: "Akshar", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto Mono", monospace;
}
.h1,
h1 {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: bolder;
  font-size: 80px;
  color: #1fdf64;
}
.h2,
h2 {
  font-family: "Saira Extra Condensed", sans-serif;
  color: #dfdfdf;
}
.h3,
h3 {
  font-family: "Saira Extra Condensed", sans-serif;
  color: #bbb9b9;
}
.h4,
h4 {
  font-family: "Oswald", sans-serif;
  color: #626262;
}

.p,
p {
  font-family: "Akshar", sans-serif;
  color: #999999;
}

.text-align-center {
  text-align: center;
}

.font-size-1 {
  font-size: 70px;
}
.text-colour-black {
  color: #000000;
}
.text-colour-white {
  color: #f0f6e9;
}
.text-colour-gray {
  color: #626262;
}
.text-colour-green {
  color: #1fdf64;
}
