
/* Box CSS */
.box_1 {
  width: 450px;
  height: 300px;
  margin: 10px;
  border: 1px solid;
}
.box_2 {
  width: 320px;
  height: 50px;
  margin: 10px;
  border: 1px solid;
}
.box_3{
  width: 300px;
  height: 100px;
  margin: 10px;
  border: 1px solid;
  background: salmon;
}
.box_4{
  width: 600px;
  height: 300px;
  margin: 10px;
  border: 1px solid;
  background: blueviolet;
}
.box_5{
  width: 500px;
  height: 250px;
  border: 1px solid;
  margin: 10px;
  background: sandybrown;

}
.box_6{
  width: 800px; ;
  height: 150px; ;
  border: 1px solid;
  margin: 10px;
  background: fuchsia;
}
.box_7{
  width:300px ;
  height:480px;
  border: 1px solid;
  margin:10px;
  background: olive;
}
.box_8{
  width: 930px;
  height: 200px;
  border: 1px solid;
  margin: 10px;
  background: rebeccapurple;

}
.a1 {
  width: 450px;
  height: 100px;
  background:greenyellow;
  border: 1px solid;
}
.a11 {
  width: 150px;
  height: 25px;
  border: 1px solid;
  background:darkmagenta;
  margin-top: 25px;
  margin: 10px;
}
.b1{
  width:300px;
  height: 150px;
  border: 1px solid;
  background: mediumseagreen;
}
.c1{
  width:400px;
  height:60px;
  background: tomato;
  border: 1px solid;
  margin: 150px;
  
  margin-left: 45px;

}
.d1{
  width: 300px;;
  height: 160px;
  border:1px solid ;

}
/* Structure CSS */
.flex_column {
  flex-direction: column;
}
.main_1{
  width: 100%;
  height: 70%;
  margin: 1px solid;
  background: tan;
}
.flex_row{
  display: flex;
  flex-direction: row;
}
.row_1{
  display: flex;
  margin-bottom: 10px;
  justify-content:center;
}
.row_2{
  display: flex;
  margin-bottom: 10px;
  justify-content:space-evenly;
  }