.body{
  font-family: 'Lato'
}
.main_container{
  display: flex;
  flex-direction: row;
  background-color: white;

}

.nav{
  display: flex;
  flex-direction: column;
  position:fixed;
  top: 0px;
  bottom: 0px;
  min-width: 20%;
  height: 100vh;
  background-color: #33691E;

}
h3,h5,h1{
  font-weight: 700;
}

.nav_1{
  margin: auto;
 align-items: center;
}

.nav_11{
  width: 150px;
  height: 150px;
  border: 2px solid;
  margin: auto;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 50%;
  background-image: url('image.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: black;
  border-color: #FFFF;

}
.margin-right1{
  margin-right: auto;
}
.sub_container1{
  display: flex;
  flex-direction: column;
  width: 1080px;
  height: 100vh;
  margin: auto;
  padding-left: 10%;
  align-items: flex-start;

}

.border_1{
  width: 100%;
  border-bottom: 1px solid;
  border-bottom-color: black;
  height: 100px ;
}
.nav_1>h1{
  margin-bottom: 30px;
}
.flex_1{
  display: flex;
  justify-content:flex-start
}

.flex_2{
  display: flex;
  flex-direction: row;
}
.flex_3{
  display: flex;
  flex-direction: column;
  padding-left: 25%;
  width: 100%;
}

.main-display{
   padding-left: 50px;
   padding-top: 100px;
   padding-bottom: 10px;
}

.display_1{
  padding-left: 50px;
  padding-bottom: 25px;
 
}
.display_11{
  margin-top: 50px;
  align-items: center;
}
.display_1111{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border: 2px solid;
  border-radius: 50%;
}
.date{
  width: 200px;
  height: 100px;
  flex-direction: row;
  color: #B71C1C;
}
.margin_top1{
  margin-top:40px;
  margin-bottom: 30px;
}
.margin-bottom1{
  margin-bottom: 10px;
}
.margin-bottom2{
  margin-bottom: 200px;
}
.margin-bottom3{
  margin-bottom: 15px;
}
@media (max-width:1200px) {
  .main_container{
    display: block;

  }
  .nav{
    width: auto;
    height: fit-content;
    background-color:#AD1457;
  }
  .nav_11{
    display: none;
  }
  h6{
    display: inline-block;
    padding: 10px 15px;
  }
}

