.main_container{
  width: 100%;
  height: 100%;
  background-color: white;
}

.nav{
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  background-color: brown;

}
.nav_1{
  margin: auto;
  text-align: center;
}

.nav_11{
  width: 150px;
  height: 150px;
  border: 2px solid;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
  border-radius: 50%;
}
.margin-right1{
  margin-right: auto;
}
.sub_container1{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-bottom: 10px;
  border-bottom: 1px solid;
  border-bottom-color: black;
}
.flex_1{
  display: flex;
  justify-content: space-between;
}

.flex_2{
  display: flex;
  flex-direction: row;
}
.flex_3{
  display: flex;
  flex-direction: column;
}

.display_1{
  margin: auto;
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 10px;
}
.display_11{
  margin-top: 50px;
  align-items: center;
}
.display_1111{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border: 2px solid;
  border-radius: 50%;
}
.margin_top1{
  margin-top:70px;
}
.margin-bottom1{
  margin-bottom: 30px;
}
.margin-bottom2{
  margin-bottom: 200px;
}
.margin-bottom3{
  margin-bottom: 15px;
}