/* Layout CSS */
body {
  padding: 15px;
}
/* Box CSS */
.box_1 {
  width: 200px;
  height: 100px;
  margin: 10px;
  border: 1px solid;
}
.box_2 {
  width: 400px;
  height: 550px;
  border: 1px solid;
}
/* Structure CSS */
.row_1{
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}
.row_2{
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}