.body{
  font-family: 'Lato'
}
.nav{
  display: flex;
  flex-direction: column;
  position:fixed;
  min-width: 20%;
  height: 100vh;
  background-color: #0D47A1;

}
p{
  font-family: 'Merriweather';
  font-weight: 300;
}
h1{
  font-family: 'lato';
  font-weight: 900;
}
h3,h5{
  font-family: 'lato';
  font-weight: 700;
}
h3{
  color: #546E7A;
}

.nav_1{
  margin: auto;
 align-items: center;
}

.nav_11{
  width: 150px;
  height: 150px;
  border: 2px solid;
  margin: auto;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 50%;
  background-image: url('image.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: black;
  border-color: #FFFF;

}
.main-page{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  }
  
 img{
   width: 50px;
   height: 50px;
 }
 h3{
   margin-top: 20px;
   margin-bottom: 20px;

 }
 .flex-1{
   display: flex;
   justify-content: space-between;
 }
 .date{
   display: flex;
   flex-shrink: 0;
   margin-right: 10px;

 }
 .border{
   margin-top: 20px;
   margin-bottom: 30px;
   border-bottom: 1px solid;
 }
 .main-container{
   height: 100vh;
   border-bottom: 1px solid;
 }
.container-1{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1080px;
  border-bottom: 1px solid;
  margin-left: 20%;
}

.sub-container{
  align-items: center;
  margin: auto;
  margin-left: 15%;
  
}
.sub-container > h1{
  margin-bottom: 35px;
}
.sub-container >h5,p{
  margin-top: 0;
  margin-bottom: 25px;
}
.social-icons{
  display: flex;
  flex-direction: row;
}
.icon-1{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #546E7A;
}
@media (max-width:1080px) {
  mainpage top 
  .nav{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: fit-content;
  }
  .ul{
    margin-top: 24px;
    padding: 15px 15px;
  }
  .container-1{
    align-items: center;

  }
  .nav_11{
    display: none;
  }
  .nav_1 > ul{
    display: flex;
    flex-direction: row;
  }
}