.body{
  font-family: 'Lato'
}
.nav{
  display: flex;
  flex-direction: column;
  position:fixed;
  min-width: 20%;
  height: 100vh;
  background-color: #33691E;

}
h3,h5,h1{
  font-weight: 700;
}

.nav_1{
  margin: auto;
 align-items: center;
}

.nav_11{
  width: 150px;
  height: 150px;
  border: 2px solid;
  margin: auto;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 50%;
  background-image: url('image.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: black;
  border-color: #FFFF;

}
.main-page{
  display: flex;
  flex-direction: column;
  }

.container-1{
  width: 1080px;
  height: 100vh;
  border-bottom: 1px solid;
  margin-left: 20%;
  background-color: rebeccapurple;
}
.sub-container{
  margin-left: 25%;
  margin-top: 25%;
  background-color: black;
  
}

